<aside class="editor-sidebar">

  <div class="sidebar-logo">
    Builder
  </div>

  <nav class="sidebar-menu">
    <a href="/workspace/<%= project._id %>">Home</a>
    <a href="/workspace/<%= project._id %>/files" class="active">Files</a>
    <a href="/workspace/<%= project._id %>/environment">Environment</a>
    <a href="/workspace/<%= project._id %>/pages">Pages</a>
    <a href="/workspace/<%= project._id %>/templates">Templates</a>
    <a href="/workspace/<%= project._id %>/plugins">Plugins</a>
    <a href="/workspace/<%= project._id %>/settings">Settings</a>
  </nav>

 

  </div>

</aside>
